
  <div class="row">
    <div class="col">
      <router-outlet name="list"></router-outlet>

      <!-- <app-items-list [items]="playlists | async "
      [selected]="selected | async "
      (selectedChange)="select($event)"></app-items-list> -->
    </div>

    <div class="col" [hidden]="!outlet.isActivated">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </div>
