<div class="row">
  <div class="col">
    <app-search-form
      [query]="query$ | async"
      (searchChange)="search($event)"
    ></app-search-form>
  </div>
</div>

<div class="row">
  <div class="col">
    {{ notifications$ | async }}

    <p>Found {{ (results$ | async)?.length }} results</p>

    <app-search-results [results]="results$ | async"> </app-search-results>
  </div>
</div>
