<div>
  <ng-content></ng-content>
  <ngx-loading [show]="isLoading | async" [template]="customLoadingTemplate">
  </ngx-loading>
</div>

<ng-template #customLoadingTemplate>
  <div class="custom-class">
    <h3>
      Loading...
    </h3>
  </div>
</ng-template>

<style>
  .custom-class {
    margin: 50% auto;
    display: block;
    width: 100px;
  }
</style>
