<pre>{{ formRef.value | json }}</pre>

<form #formRef="ngForm"  (ngSubmit)="submit(formRef.value)">
  <div class="form-group">
    <label>Name:</label>
    <input
      type="text"
      class="form-control"
      [ngModel]="playlist.name"
      name="name"
      #nameRef="ngModel"
    />
    {{ 170 - nameRef.value?.length }} / 170

    <div *ngIf="nameRef.invalid">Error</div>
  </div>

  <div class="form-group">
    <label>Favorite:</label>
    <input type="checkbox" [ngModel]="playlist.favorite" name="favorite" />
  </div>

  <div class="form-group">
    <label>Color:</label>
    <input type="color" [ngModel]="playlist.color" name="color" />
  </div>

  <input
    type="button"
    value="Cancel"
    class="btn btn-danger"
    (click)="emitCancel()"
  />
  <input
    type="button"
    value="Reset"
    class="btn btn-danger"
    (click)="reset()"
  />
  <input type="submit" value="Save" class="btn btn-success" />
</form>
