  <img [src]="album.images[0].url" class="card-img-top" />

  <div class="card-body">
    <h5 class="card-title">{{album.name}}</h5>
  </div>

<!-- <p class="card-text">
  This is a wider card with supporting text below as a natural lead-in to
  additional content. This content is a little bit longer.
</p>
<p class="card-text">
  <small class="text-muted">Last updated 3 mins ago</small>
</p> -->
