<p>user-profile works!</p>

<div class="row">
  <div class="col"></div>
  <div class="col">
    <h3>Avatar</h3>

    <img [src]="avatarUrl" *ngIf="avatarUrl"/>

    <div class="card">
      <div class="card-body" appFileUpload (fileChange)="upload($event)"
      #uploadRef="appUpload">
        Przecignij tutaj obrazek
      </div>
    </div>

    <button (click)="uploadRef.reset()">Reset</button>
  </div>
</div>


<style>

  [appFileUpload].active{
    border: 2px solid green;
  }
</style>
