<div class="card">
  <div class="card-body">

    <h5 class="card-title">
      <ng-content select="title"></ng-content>
    </h5>

    <ng-content></ng-content>
  </div>

  <div class="card-footer" #ref>
    <ng-content select="actions"></ng-content>
  </div>

  <div *ngIf="!ref.children.length">
    <!-- Alternatywna tresc -->
  </div>
</div>

<style>
  .card-footer:empty{
    display: none;
  }
</style>
