<button (click)="hide = !hide">Toggle {{ hide }}</button>

<button (click)="canI = !canI">Can I leave = {{ canI }}</button>


<div class="card">
  <div class="card-body">
    <div *appAdToggler="hide"></div>

    <!--
    <ng-template [appToggler]="hide" let-co="$implicit" let-kto="user">
      <div>
        {{kto}} ma {{co}}
      </div>
    </ng-template>

    <div *appToggler="hide let co let kto = user">
      {{kto}} ma {{co}}
    </div> -->
  </div>
</div>

<!--
<app-tabs>
  <app-tabs-nav></app-tabs-nav>
  <br />
  <hr />
  <br />

  <div style="display: flex; flex-direction: column;">
    <app-tab title="A title">
      A Content
    </app-tab>

    <app-tab title="B title">
      B Content
    </app-tab>

    <app-tab title="{{item}} title" *ngFor="let item of ['C','D','E']">
      {{item}} Content
    </app-tab>
  </div>
</app-tabs>


<app-tab title="Outsider title">
  Outsider Content
</app-tab>
 -->
