<!-- .row>.col*2 -->

<div class="row">
  <div class="col">
    <app-items-list
      [items]="playlists"
      [selected]="selected"
      (selectedChange)="this.selected = $event"
      #listRef
    >
    </app-items-list>
  </div>
  <div class="col">
    <ng-container [ngSwitch]="mode" *ngIf="selected">

      <app-playlist-details
        *ngSwitchDefault
        [playlist]="selected"
        (edit)="edit()"
      >
      </app-playlist-details>

      <app-playlist-form
        *ngSwitchCase="'edit'"
        [playlist]="selected"
        (cancel)="cancel()"
        (save)="save($event)"
      >
      </app-playlist-form>

    </ng-container>

    <div *ngIf="!selected">Please select</div>
  </div>
</div>
