<div class="card">
  <div class="card-body">
    <div (click)="toggle()">
      {{ title }}
      <span class="dropdown-toggle"></span>
    </div>

    <div *ngIf="open">
      <ng-content></ng-content>
    </div>
  </div>
</div>
