<!-- .container>.row>.col -->

<nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
  <div class="container">
    <a
      class="navbar-brand"
      routerLinkActive="active placki"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink="/"
      >MusicApp</a
    >

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav w-100">
        <li class="nav-item">
          <a
            class="nav-link"
            #rla="routerLinkActive"
            routerLinkActive="active placki"
            [routerLink]="['/', 'search']"
            >Search
            <span class="sr-only" *ngIf="rla.isActive">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active placki"
            routerLink="/playlists"
            >Playlists</a
          >
        </li>
        <li class="mx-auto"></li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user-settings">User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="login()">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<lib-nav-loader>
  <div class="container">
    <div class="row">
      <div class="col">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</lib-nav-loader>
