<app-card>
  <dl [title]="playlist.name" [attr.data-id]="playlist.id">
    <dt>Name:</dt>
    <dd>{{ playlist.name }}</dd>

    <dt>Favourite:</dt>
    <dd [style.font-size.%]="115">{{ playlist.favorite ? "Yes" : "No" }}</dd>

    <dt>Color</dt>
    <dd
      [ngStyle]="{
        color: playlist.color,
        'background-color': playlist.color
      }"
    >
      #ff00ff
    </dd>
  </dl>

  <ng-container ngProjectAs="actions">
    <input
      type="button"
      value="Edit"
      class="btn btn-info"
      (click)="edit.emit()"
    />
    <input
      type="button"
      value="Cancel"
      class="btn btn-danger"
      (click)="cancel.emit()"
    />
  </ng-container>

  <ng-container ngProjectAs="title">{{ playlist.name }}</ng-container>
</app-card>
