/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
// $primary: #6610f2;
// $enable-rounded: false;
// @import "functions";
// @import "variables";
// @import "mixins";
// @import "root";
// @import "reboot";
// @import "type";
// @import "~bootstrap/scss/buttons";

// .form-control {
//   &.ng-invalid {
//     &.ng-touched,
//     &.ng-dirty {
//       border: 2px solid red;
//     }
//   }
// }

// .input-group ~ div {
//   color: red;
// }
