<form class="form-group mb-3" [formGroup]="searchForm">
  <div class="input-group">
    <input
      type="text"
      class="form-control"
      placeholder="Search"
      formControlName="query"
    />

    <!-- <div class="input-group-append">
      <button
        class="btn btn-outline-secondary"
        (click)="search(searchForm.value.query)"
      >
        Search
      </button>
    </div> -->
  </div>
  <ng-container *ngIf="searchForm.get('query') as field">
    <div *ngIf="field.pending">Please wait ...</div>

    <ng-container *ngIf="field.touched || field.dirty || formSubmitted">
      <div *ngIf="field.hasError('required')">
        Field is required
      </div>

      <div *ngIf="field.getError('censor') as error">
        Cannot contain bad words as "{{ error.badword }}"
      </div>

      <div *ngIf="field.getError('minlength') as error">
        Required length is {{ error.requiredLength }}
      </div>
    </ng-container>
  </ng-container>
</form>

<style>
  .form-control.ng-invalid.ng-touched,
  .form-control.ng-invalid.ng-dirty {
    border: 2px solid red;
  }

  .form-control.ng-pending {
    border: 2px solid blue;
  }

  .input-group ~ div {
    color: red;
  }
</style>
